@import "tailwindcss";

@theme {
  --color-netflix-red: #E50914;
  --color-netflix-black: #141414;
  --color-netflix-dark: #181818;
  --color-netflix-light: #e5e5e5;
  --color-netflix-gray: #808080;
}

@layer base {
  body {
    @apply bg-[#141414] text-[#e5e5e5] antialiased;
    font-family: 'Inter', sans-serif; /* Recommended font, or system default */
  }

  /* Custom Scrollbar for Netflix feel */
  ::-webkit-scrollbar {
    width: 0px; /* Hide scrollbar for immersive feel, or make it thin */
    height: 0px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    }
    
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
